{% extends 'base/default.html' %}
{% block content %}
<div class="queryHistoryList" id="queryHistoryList">
  {% block list %}
  {% if data|length == 0 %}
  <div class="queryHistoryRow">
    <div class="query">검색 내역이 존재하지 않습니다.</div>
  </div>
  {% else %}
    {% for queryHistory in data %}
    <div class="queryHistoryRow">
      <div class="query">{{ queryHistory['query'] }}</div>
      <div class="regDate">{{ queryHistory['reg_date'] }}</div>
    </div>
    {% endfor %}
  {% endif %}
  {% endblock list %}
</div>
<div class="returnBtn">
  <input type="button" value="돌아가기" class="btn btn-default" onClick="location.href='/'" />
</div>
{% endblock %}

